<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" id="theme" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </head>

    <body style="padding-top: 65px;">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style ="background-color: rgba(160, 83, 115, 0.9);">
            <a class="navbar-brand" style="font-size: 23px;" href="{% url 'S6App:landing' %}">&#x1f325; OurMoodBoard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'S6App:landing' %}" style="color: white;">HOME<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'S6App:books' %}" style="color: white;">BOOKS</a>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <p style="font-size: 15px; text-align: center; color: white; margin: 10px 20px;">You are logged in as {{user}}.</p>
                        <a type="button" class="btn btn-light" id="logout" href= "{% url 'S6App:logout' %}">LOGOUT</a>
                    {% else %}
                        <a type="button" class="btn btn-light" id="login" href= "{% url 'S6App:login' %}">LOGIN</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block content %}

        {% endblock %}

    </body>
</html>
