{% extends 'base.html' %}
{% load static %}

{% block title %}BOOKS{% endblock %}

{% block content %}
    <div style="margin-top: 30px">
        <h1 id = "heading" class="d-flex justify-content-center" style="text-align: center">Find Your Favorite Books Here! &#x1f4d6;</h1>
    </div>

    <div class="d-flex justify-content-center">
        <div class="form-group" style="margin-top: 30px;">
            <input id="search-box" class="form-control" placeholder="enter book title or author">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="form-group">
            <button id="search-button" class="btn btn-primary">Search Book</button>
        </div>
    </div>

    <div class="table-responsive" style="margin-top: 36px">
        <table class="table table-fixed">
            <thead class="text-center">
                <tr>
                    <th scope="col" id="head">#</th>
                    <th scope="col" id="head">Cover</th>
                    <th scope="col" id="head">Title</th>
                    <th scope="col" id="head">Author</th>
                    <th scope="col" id="head">Details</th>
                </tr>
            </thead>
    
            <tbody id="books-table" class="text-center">
            </tbody>
        </table>
    </div>

{% endblock %}

