<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}

{% block title %}LOGIN{% endblock %}

{% block content %}

<div class="vh-100" style="margin-top: 30px;">
    <div>
        <h1 class="text-center">Let's log yourself in right here &#x1F447;&#x1F3FC;</h1>
        <p class="text-center">If you don't have an account yet, you can contact me by email at
        alfatianisa@gmail.com</p>    
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 30px">
		<form class="needs-validation" novalidate id="formulir" method='POST'>
            {% csrf_token %}
            <div class="form-group">
                <label for="username"><strong>Username: </strong></label>
                <input type="text" class="form-control" name="username" id="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
            <div class="form-group">
                <label for="password"><strong>Password: </strong></label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class='btn btn-primary' type="Submit" id="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<script>
		(function() {
			'use strict';
			window.addEventListener('load', function() {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
					form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>

{% endblock %}