<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}LOGOUT?{% endblock %}

{% block content %}

<div class="vh-100" style="margin-top: 150px;">
    <div>
        <h1 class="text-center">Hi {{user}},</h1>
        <h2 class="text-center">Are you sure you want to log out? &#x1F937;&#x1F3FB;</h2>
    </div>
    <form method="POST" class="d-flex justify-content-center align-items-center;">
        {% csrf_token %}
        <button style="margin-top: 20px;" type="submit" name="logout" class="btn btn-primary mx-auto mt-2" style="height:42px" value="yes">Yes, I am sure</button>
    </form>
</div>

{% endblock %}