<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}

{% block title %}WELCOME!{% endblock %}

{% block content %}

<div class="vh-100" style="margin-top: 150px;">
    <div>
        <h1 class="text-center">WELCOME {{user}}! &#x1F44B;&#x1F3FC;</h1>
        <p class = "text-center">
            Hope you have been feeling great today!<br>Feel free to share your mood right here. 
        </p>
    </div>
    <a class="d-flex justify-content-center align-items-center" href= "{% url 'S6App:landing' %}">
        <button type="button" class="btn btn-primary mx-auto mt-2" style="height:42px">Back to Homepage</button>
    </a>
</div>

{% endblock %}